### Importación de Librerias

In [45]:
import pandas as pd
import seaborn as sns
import toolbox_ML as tb
import warnings

warnings.filterwarnings('ignore')

# Configurar pandas para que no corte las visualizaciones
pd.set_option("display.max_columns", None)  # Mostrar todas las columnas
pd.set_option("display.max_colwidth", None)  # Mostrar todo el contenido de las celdas, si es posible
# pd.set_option('display.max_rows', None) # Mostrar todas las filas

### Creando el dataframe

In [3]:
# Para poder leer el dataset con caracteres especiales se utiliza encoding, se prueba con tres alternativas para cargar nuestro csv en el dataframe
try:
    df = pd.read_csv('../data/F1.csv', encoding='latin1')
except UnicodeDecodeError:
    try:
        df = pd.read_csv('../data/F1.csv', encoding='iso-8859-1')
    except UnicodeDecodeError:
        df = pd.read_csv('../data/F1.csv', encoding='cp1252')

### Exploración y Limpieza del dataset

In [4]:
# Mostrar los primeros 10 registros de nuestro dataframe
df.head(10)

,RESULTID,RACEID,RACE,DRIVERID,DRIVER,CONSTRUCTORID,COSNTRUCTOR,CIRCUITID,CIRCUIT,NUMBER,GRID,POSITION,POSITIONORDER,POINTS,LAPS,FASTESTLAP,RANK,FASTESTLAPTIME,FASTESTLAPSPEED,STATUSID,STATUS,AÑO,FECHA
0,584,45,European Grand Prix,18,Button Jenson,11,honda,20,nurburgring,7,17,\N,18,0.0,2,2,18,02:20.0,132.338,20,Spun off,2007,22/07/2007
1,585,45,European Grand Prix,16,Sutil Adrian,12,spyker,20,nurburgring,20,21,\N,19,0.0,2,2,19,02:25.8,127.112,20,Spun off,2007,22/07/2007
2,586,45,European Grand Prix,3,Rosberg Nico,3,williams,20,nurburgring,16,11,\N,20,0.0,2,2,20,02:50.9,108.41,20,Spun off,2007,22/07/2007
3,587,45,European Grand Prix,26,Speed Scott,5,toro_rosso,20,nurburgring,19,18,\N,21,0.0,2,2,21,03:01.9,101.884,20,Spun off,2007,22/07/2007
4,588,45,European Grand Prix,24,Liuzzi Vitantonio,5,toro_rosso,20,nurburgring,18,19,\N,22,0.0,2,2,22,03:22.3,91.61,20,Spun off,2007,22/07/2007
5,741,52,Brazilian Grand Prix,29,Yamamoto Sakon,12,spyker,18,interlagos,21,22,\N,21,0.0,2,2,21,01:50.4,140.505,4,Collision,2007,21/10/2007
6,742,52,Brazilian Grand Prix,21,Fisichella Giancarlo,4,renault,18,interlagos,3,12,\N,22,0.0,2,2,22,02:02.7,126.446,4,Collision,2007,21/10/2007
7,455,39,Spanish Grand Prix,17,Webber Mark,9,red_bull,4,catalunya,15,19,\N,21,0.0,7,4,21,01:26.3,194.131,9,Hydraulics,2007,13/05/2007
8,610,46,Hungarian Grand Prix,29,Yamamoto Sakon,12,spyker,11,hungaroring,21,22,\N,22,0.0,4,4,22,01:26.7,181.824,3,Accident,2007,05/08/2007
9,632,47,Turkish Grand Prix,17,Webber Mark,9,red_bull,5,istanbul,15,12,\N,22,0.0,9,4,21,01:30.8,211.62,9,Hydraulics,2007,26/08/2007

In [5]:
# Mostrar la información de nuestro dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6839 entries, 0 to 6838
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RESULTID         6839 non-null   int64
 1   RACEID           6839 non-null   int64
 2   RACE             6839 non-null   object
 3   DRIVERID         6839 non-null   int64
 4   DRIVER           6839 non-null   object
 5   CONSTRUCTORID    6839 non-null   int64
 6   COSNTRUCTOR      6839 non-null   object
 7   CIRCUITID        6839 non-null   int64
 8   CIRCUIT          6839 non-null   object
 9   NUMBER           6839 non-null   int64
 10  GRID             6839 non-null   int64
 11  POSITION         6839 non-null   object
 12  POSITIONORDER    6839 non-null   int64
 13  POINTS           6839 non-null   float64
 14  LAPS             6839 non-null   int64
 15  FASTESTLAP       6839 non-null   object
 16  RANK             6839 non-null   object
 17  FASTESTLAPTIME   6839 non-null   object
 18  FASTESTLAPSPEED  6839 non-null   object
 19  STATUSID         6839 non-null   int64
 20  STATUS           6839 non-null   object
 21  AÑO              6839 non-null   int64
 22  FECHA            6839 non-null   object
dtypes: float64(1), int64(11), object(11)
memory usage: 1.2+ MB

In [6]:
# Comprobación de valores unicos y cardinalidad de nuestros datos
tb.describe_df(df)

,RESULTID,RACEID,RACE,DRIVERID,DRIVER,CONSTRUCTORID,COSNTRUCTOR,CIRCUITID,CIRCUIT,NUMBER,GRID,POSITION,POSITIONORDER,POINTS,LAPS,FASTESTLAP,RANK,FASTESTLAPTIME,FASTESTLAPSPEED,STATUSID,STATUS,AÑO,FECHA
Data type,int64,int64,object,int64,object,int64,object,int64,object,int64,int64,object,int64,float64,int64,object,object,object,object,int64,object,int64,object
Percent missing (%),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Unique values,6839,323,39,89,89,28,28,37,37,50,25,25,24,30,80,80,26,585,6202,80,80,17,323
Cardinality percent (%),100.0,4.722913,0.570259,1.30136,1.30136,0.409417,0.409417,0.541015,0.541015,0.731101,0.365551,0.365551,0.350928,0.438661,1.169762,1.169762,0.380173,8.553882,90.685773,1.169762,1.169762,0.248574,4.722913

In [7]:
# Distribución de nuestras columnas númericas
df.describe()

,RESULTID,RACEID,DRIVERID,CONSTRUCTORID,CIRCUITID,NUMBER,GRID,POSITIONORDER,POINTS,LAPS,STATUSID,AÑO
count,6839.000000,6839.000000,6839.000000,6839.000000,6839.00000,6839.000000,6839.000000,6839.000000,6839.000000,6839.000000,6839.000000,6839.000000
mean,19980.709460,779.642199,434.451236,58.573476,21.07194,20.546717,10.972511,11.145197,4.315689,52.883755,9.012721,2014.875274
std,7739.080931,367.869575,402.636839,81.050742,22.39535,20.332138,6.247209,6.209971,6.724468,18.278094,18.722008,4.730506
min,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,2007.000000
25%,20950.500000,848.000000,13.000000,4.000000,6.00000,7.000000,6.000000,6.000000,0.000000,51.000000,1.000000,2011.000000
50%,22661.000000,932.000000,807.000000,9.000000,13.00000,15.000000,11.000000,11.000000,0.000000,56.000000,1.000000,2015.000000
75%,24375.500000,1018.000000,828.000000,131.000000,22.00000,23.000000,16.000000,16.000000,8.000000,66.000000,11.000000,2019.000000
max,26085.000000,1110.000000,858.000000,214.000000,79.00000,99.000000,24.000000,24.000000,50.000000,87.000000,141.000000,2023.000000

In [8]:
df.columns

Index(['RESULTID', 'RACEID', 'RACE', 'DRIVERID', 'DRIVER', 'CONSTRUCTORID',
       'COSNTRUCTOR', 'CIRCUITID', 'CIRCUIT', 'NUMBER', 'GRID', 'POSITION',
       'POSITIONORDER', 'POINTS', 'LAPS', 'FASTESTLAP', 'RANK',
       'FASTESTLAPTIME', 'FASTESTLAPSPEED', 'STATUSID', 'STATUS', 'AÑO',
       'FECHA'],
      dtype='object')

In [9]:
# Elimanar las columnas correspondientes a los ID
# POSITION es igual a POSITIONORDER con datos faltantes, por ende, se procede a eliminarla
# Number es un identificador del corredor, nos quedamos con Driver
# Inplace para hacer los cambios en el mismo dataframe que estamos trabajando
df.drop(columns=['RESULTID','RACEID','DRIVERID','CONSTRUCTORID','CIRCUITID','STATUSID','POSITION', "NUMBER"], inplace=True)

In [10]:
# Capitalizar los nombres de las columnas utilizando comprensión de listas
df.columns = [col.capitalize() for col in df.columns]

In [11]:
# Función para corregir los datos en las celdas que contienen "_" en vez de espacio y a la vez poner en mayúscula cada palabra
# se verifica el tipo de dato para solo tratar aquellas que sean string
def capitalizar_df(df):
    def capitalizar_celdas(dato):
        if isinstance(dato, str) and '_' in dato:
            return ' '.join(palabra.capitalize() for palabra in dato.split('_'))
        elif isinstance(dato, str):
            return dato.title()
        else:
            return dato
    # Aplicar la función a todas las celdas
    return df.applymap(capitalizar_celdas)

df = capitalizar_df(df)

In [12]:
# Normalizar las columnas para correción de sintaxis, unificar idiomás y estandarizar nombres
df.rename(columns={"Cosntructor":"Constructor", "Año":"Year","Fecha":"Date", "Positionorder":"Position_Order", "Fastestlap":"Fastest_Lap", "Fastestlaptime":"Fastest_Lap_Time","Fastestlapspeed":"Fastest_Lap_Speed"}, inplace=True)

In [13]:
# Comprobando cambios
df.head()

,Race,Driver,Constructor,Circuit,Grid,Position_Order,Points,Laps,Fastest_Lap,Rank,Fastest_Lap_Time,Fastest_Lap_Speed,Status,Year,Date
0,European Grand Prix,Button Jenson,Honda,Nurburgring,17,18,0.0,2,2,18,02:20.0,132.338,Spun Off,2007,22/07/2007
1,European Grand Prix,Sutil Adrian,Spyker,Nurburgring,21,19,0.0,2,2,19,02:25.8,127.112,Spun Off,2007,22/07/2007
2,European Grand Prix,Rosberg Nico,Williams,Nurburgring,11,20,0.0,2,2,20,02:50.9,108.41,Spun Off,2007,22/07/2007
3,European Grand Prix,Speed Scott,Toro Rosso,Nurburgring,18,21,0.0,2,2,21,03:01.9,101.884,Spun Off,2007,22/07/2007
4,European Grand Prix,Liuzzi Vitantonio,Toro Rosso,Nurburgring,19,22,0.0,2,2,22,03:22.3,91.61,Spun Off,2007,22/07/2007

In [14]:
# Distribución y conteo de los valores en la columna
df.Race.value_counts()

Race
Spanish Grand Prix             362
Hungarian Grand Prix           360
Belgian Grand Prix             360
British Grand Prix             360
Italian Grand Prix             340
Monaco Grand Prix              340
Bahrain Grand Prix             338
Australian Grand Prix          320
Japanese Grand Prix            300
Canadian Grand Prix            300
Abu Dhabi Grand Prix           296
Brazilian Grand Prix           296
Chinese Grand Prix             280
Singapore Grand Prix           278
Malaysian Grand Prix           242
United States Grand Prix       228
German Grand Prix              218
Austrian Grand Prix            204
Russian Grand Prix             163
European Grand Prix            156
Turkish Grand Prix             150
French Grand Prix              122
Azerbaijan Grand Prix          120
Mexican Grand Prix             102
Korean Grand Prix               94
Indian Grand Prix               70
Emilia Romagna Grand Prix       60
Saudi Arabian Grand Prix        60
Portuguese Grand Prix           40
Mexico City Grand Prix          40
Dutch Grand Prix                40
Miami Grand Prix                40
Styrian Grand Prix              40
70Th Anniversary Grand Prix     20
Sakhir Grand Prix               20
Tuscan Grand Prix               20
S?£O Paulo Grand Prix           20
Qatar Grand Prix                20
Eifel Grand Prix                20
Name: count, dtype: int64

In [15]:
# Identificar los casos donde hay que corregir la tilde en Sao Paulo
df[df.Race == "S?£O Paulo Grand Prix"]["Race"]

5741    S?£O Paulo Grand Prix
5782    S?£O Paulo Grand Prix
5783    S?£O Paulo Grand Prix
5803    S?£O Paulo Grand Prix
5860    S?£O Paulo Grand Prix
5875    S?£O Paulo Grand Prix
5884    S?£O Paulo Grand Prix
5896    S?£O Paulo Grand Prix
5908    S?£O Paulo Grand Prix
5919    S?£O Paulo Grand Prix
5976    S?£O Paulo Grand Prix
5977    S?£O Paulo Grand Prix
5993    S?£O Paulo Grand Prix
6021    S?£O Paulo Grand Prix
6060    S?£O Paulo Grand Prix
6072    S?£O Paulo Grand Prix
6080    S?£O Paulo Grand Prix
6100    S?£O Paulo Grand Prix
6109    S?£O Paulo Grand Prix
6118    S?£O Paulo Grand Prix
Name: Race, dtype: object

In [16]:
# Corrección mediante replace
df["Race"].replace({"S?£O Paulo Grand Prix": "Sao Paulo Grand Prix"}, inplace=True)

In [17]:
# Distribución y conteo de los valores en la columna
df.Driver.value_counts()

Driver
Hamilton Lewis              322
Vettel Sebastian            300
Alonso Fernando             282
Perez Sergio                249
Raikkonen Kimi              247
                           ...
Badoer Luca                   2
Pietro Fittipaldi Pietro      2
Markus Winkelhock Markus      1
Aitken Jack                   1
Lotterer Andre                1
Name: count, Length: 89, dtype: int64

In [18]:
# Fixing names
def fix_names(name):
    # Split the name string by the space character 
    parts = name.split()
    if len(parts) == 2:
        # 'LastName Name'
        return f"{parts[1]} {parts[0]}"
    elif len(parts) == 3:
        # 'Name LastName Name'
        if parts[0] == parts[2]:
            return f"{parts[0]} {parts[1]}"
        else:
            return f"{parts[2]} {parts[0]} {parts[1]}"
    else:
        return name

# Applying the function to fix the column
df['Driver'] = df['Driver'].apply(lambda x: fix_names(x))

In [19]:
# head para comprobar los cambios en la columna
df.head()

,Race,Driver,Constructor,Circuit,Grid,Position_Order,Points,Laps,Fastest_Lap,Rank,Fastest_Lap_Time,Fastest_Lap_Speed,Status,Year,Date
0,European Grand Prix,Jenson Button,Honda,Nurburgring,17,18,0.0,2,2,18,02:20.0,132.338,Spun Off,2007,22/07/2007
1,European Grand Prix,Adrian Sutil,Spyker,Nurburgring,21,19,0.0,2,2,19,02:25.8,127.112,Spun Off,2007,22/07/2007
2,European Grand Prix,Nico Rosberg,Williams,Nurburgring,11,20,0.0,2,2,20,02:50.9,108.41,Spun Off,2007,22/07/2007
3,European Grand Prix,Scott Speed,Toro Rosso,Nurburgring,18,21,0.0,2,2,21,03:01.9,101.884,Spun Off,2007,22/07/2007
4,European Grand Prix,Vitantonio Liuzzi,Toro Rosso,Nurburgring,19,22,0.0,2,2,22,03:22.3,91.61,Spun Off,2007,22/07/2007

In [20]:
df["Driver"].replace({"Eric Vergne Jean": "Jean Eric Vergne"}, inplace=True)

In [21]:
# Distribución y conteo de los valores en la columna
df.Constructor.value_counts()

Constructor
Williams        646
Red Bull        646
Ferrari         646
Mclaren         646
Mercedes        542
Toro Rosso      500
Force India     424
Renault         380
Sauber          354
Haas            312
Alfa            188
Lotus F1        154
Alphatauri      146
Hrt             116
Caterham        112
Aston Martin    112
Alpine          112
Marussia        109
Bmw Sauber      104
Toyota          104
Manor            78
Racing Point     76
Lotus Racing     76
Virgin           76
Honda            70
Super Aguri      42
Spyker           34
Brawn            34
Name: count, dtype: int64

In [22]:
# Distribución y conteo de los valores en la columna
df.Circuit.value_counts()

Circuit
Silverstone       380
Catalunya         362
Hungaroring       360
Spa               360
Bahrain           358
Monza             340
Monaco            340
Albert Park       320
Interlagos        316
Villeneuve        300
Yas Marina        296
Shanghai          280
Marina Bay        278
Suzuka            258
Red Bull Ring     244
Sepang            242
Americas          206
Sochi             163
Hockenheimring    152
Istanbul          150
Baku              142
Rodriguez         142
Valencia          112
Nurburgring       108
Yeongam            94
Ricard             80
Buddh              70
Imola              60
Jeddah             60
Magny Cours        42
Fuji               42
Portimao           40
Zandvoort          40
Miami              40
Indianapolis       22
Mugello            20
Losail             20
Name: count, dtype: int64

In [23]:
# Distribución y conteo de los valores en la columna
df.Grid.value_counts()

Grid
17    325
6     323
9     323
4     323
5     323
3     323
1     323
12    323
8     322
2     322
14    322
7     322
13    321
15    321
11    321
16    321
10    321
18    319
19    315
20    286
21    134
22    132
0      64
23     56
24     54
Name: count, dtype: int64

In [24]:
# Distribución y conteo de los valores en la columna
df.Position_Order.value_counts()

Position_Order
18    323
17    323
12    323
9     323
16    323
2     323
6     323
5     323
11    323
10    323
4     323
15    323
1     323
13    323
8     323
7     323
3     323
14    323
19    320
20    320
21    135
22    134
23     58
24     58
Name: count, dtype: int64

In [25]:
# Distribución y conteo de los valores en la columna
df.Points.value_counts()

Points
0.0     3713
1.0      322
2.0      321
4.0      321
6.0      317
8.0      316
10.0     313
15.0     261
12.0     261
18.0     251
25.0     239
3.0       55
5.0       55
26.0      30
19.0      18
16.0       9
13.0       9
11.0       7
9.0        6
7.0        4
0.5        2
2.5        1
12.5       1
50.0       1
30.0       1
24.0       1
20.0       1
36.0       1
1.5        1
7.5        1
Name: count, dtype: int64

In [26]:
# Distribución y conteo de los valores en la columna
df.Laps.value_counts()

Laps
56    517
70    509
53    456
52    410
55    405
     ...
4      11
20     11
75     10
73     10
74      2
Name: count, Length: 80, dtype: int64

In [27]:
# Distribución y conteo de los valores en la columna
df.Fastest_Lap.value_counts()

Fastest_Lap
\N    293
50    267
52    250
53    244
51    234
     ...
77      9
78      6
73      5
80      3
85      2
Name: count, Length: 80, dtype: int64

In [28]:
# Reemplazar "\N" por 0 para poder cambiar el tipo de la columna a uno más adecuado
df['Fastest_Lap'] = df['Fastest_Lap'].replace(r'\\N', 0, regex=True)
# Cambio de tipo de dato a entero
df["Fastest_Lap"] = df["Fastest_Lap"].apply(lambda x: int(x))

In [29]:
# Distribución y conteo de los valores en la columna
df.Rank.value_counts()

Rank
11    322
9     322
1     322
7     322
2     322
3     322
5     322
4     322
6     322
12    322
13    322
10    322
8     321
14    321
16    320
15    320
17    316
18    307
19    276
20    232
0     216
21    112
22     86
\N     77
23     43
24     28
Name: count, dtype: int64

In [30]:
# Reemplazar "\N" por 0 para poder cambiar el tipo de la columna a uno más adecuado
df['Rank'] = df['Rank'].replace(r'\\N', 0, regex=True)
# Cambio de tipo de dato a entero
df["Rank"] = df["Rank"].apply(lambda x: int(x))

In [31]:
# Distribución y conteo de los valores en la columna
df.Fastest_Lap_Time.value_counts()

Fastest_Lap_Time
\N         293
01:17.2     29
01:28.7     28
01:29.5     28
01:38.3     27
          ...
01:59.4      1
01:55.0      1
02:00.1      1
01:59.9      1
02:02.1      1
Name: count, Length: 585, dtype: int64

In [32]:
# Reemplazar "\N"  por 0 para poder cambiar el tipo de la columna a uno más adecuado
df['Fastest_Lap_Time'] = df['Fastest_Lap_Time'].replace(r'\\N', "00:00.0", regex=True)

In [33]:
def convert_to_seconds(time_str):
    # Split the time string by the colon character first
    minutes_seconds = time_str.split(':')
    if len(minutes_seconds) == 2:
        minutes = int(minutes_seconds[0])
    #Split the seconds part by the dot character
        seconds_fraction = minutes_seconds[1].split('.')
        if len(seconds_fraction) == 2:
            seconds = int(seconds_fraction[0])
            fraction = int(seconds_fraction[1])
            # Calculate the total seconds with the fractional part
            total_seconds = minutes * 60 + seconds + fraction / 10.0

    return float(total_seconds)

df["Fastest_Lap_Time"] = df["Fastest_Lap_Time"].apply(lambda x: convert_to_seconds(x))

In [34]:
# Renombrar la columna para incluir la unidad correspondiente a los datos
df.rename(columns={"Fastest_Lap_Time": "Fastest_Lap_Time (Seg)"}, inplace=True)

In [35]:
# Distribución y conteo de los valores en la columna
df.Fastest_Lap_Speed.value_counts()

Fastest_Lap_Speed
\N         293
201.512      3
208.575      3
207.069      3
194.706      3
          ...
210.733      1
193.505      1
197.321      1
216.233      1
231.97       1
Name: count, Length: 6202, dtype: int64

In [36]:
# Reemplazar "\N" por 0 para poder cambiar el tipo de la columna a uno más adecuado
df['Fastest_Lap_Speed'] = df['Fastest_Lap_Speed'].replace(r'\\N', 0, regex=True)
# Cambio de tipo de dato a flotante
df["Fastest_Lap_Speed"] = df["Fastest_Lap_Speed"].apply(lambda x: float(x))

In [37]:
# Renombrar la columna para incluir la unidad correspondiente a los datos
df.rename(columns={"Fastest_Lap_Speed": "Fastest_Lap_Speed (KM/H)"}, inplace=True)

In [38]:
# Distribución y conteo de los valores en la columna
df.Status.value_counts()

Status
Finished       3432
+1 Lap         1612
+2 Laps         353
Collision       286
Accident        160
               ...
+42 Laps          1
Injured           1
Driver Seat       1
Refuelling        1
Fuel Leak         1
Name: count, Length: 80, dtype: int64

In [39]:
# Distribución y conteo de los valores en la columna
df.Year.value_counts()

Year
2012    480
2016    462
2010    456
2011    456
2022    440
2021    440
2019    420
2018    420
2013    418
2014    407
2017    400
2015    378
2007    374
2008    368
2020    340
2009    340
2023    240
Name: count, dtype: int64

In [40]:
# Distribución y conteo de los valores en la columna
df.Date.value_counts()

Date
10/10/2010    24
30/05/2010    24
12/06/2011    24
27/03/2011    24
09/10/2011    24
              ..
14/05/2017    20
09/04/2017    20
02/11/2014    18
15/03/2015    18
09/11/2014    18
Name: count, Length: 323, dtype: int64

In [50]:
# Exportar el dataframe con los cambios realizados
df_clean = df.to_csv("../data/F1_act.csv", index=False)